<div class="container">
    <h1>Personajes de Star Wars</h1>
    <div class="row">
        <div class="col-xl-3 col-lg-9 col-md-8 col-sm-7 col-6">
            <div class="card">
                <img class="card-img-top" src="./assets/luke.jpg" class="rounded-circle " alt="...">
                <div class="card-body">
                    <h4 class="card-title">Luke</h4>
                    <div class="col-xl-12 col-lg-9 col-md-8 col-sm-7 col-6" style="background-color:#aaa">
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Height</th>
                                    <th>gender</th>
                                    <th>mass</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let starswars of starswarss">
                                <td>{{starswars.name}}</td>
                                <td>{{starswars.height}}</td>
                                <td>{{starswars.gender}}</td>
                                <td>{{starswars.mass}}</td>
                                <td>{{starswars.omeworld}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-9 col-md-8 col-sm-7 col-6">
            <div class="card">
                <img class="card-img" src="./assets/darth-vader.jpg" class="rounded-circle" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Darth Vader</h4>
                    <div class="col-xl-12 col-lg-9 col-md-8 col-sm-7 col-6" style="background-color:#aaa">
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Height</th>
                                    <th>gender</th>
                                    <th>mass</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let starswars of starswarss2">
                                <td>{{starswars.name}}</td>
                                <td>{{starswars.height}}</td>
                                <td>{{starswars.gender}}</td>
                                <td>{{starswars.mass}}</td>
                                <td>{{starswars.omeworld}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>