<div class="container">
  <blockquote class="blockquote text-center">
    <p> Star Wars (conocida también en español como La guerra de las galaxias)
      1​2​3​ es una franquicia compuesta primordialmente de una serie de películas
      concebidas por el cineasta estadounidense George Lucas, y producidas y
      distribuidas por The Walt Disney Company a partir de 2012. Su trama
      describe las vivencias de un grupo de personajes que habitan en una galaxia
      ficticia e interactúan con elementos como «la Fuerza», un campo de energía
      metafísico y omnipresente4​ que posee un «lado oscuro» provocado por la
      ira, el miedo y el odio</p>
    <footer class="blockquote-footer">George Lucas:<cite>14 de mayo de 1944</cite></footer>
  </blockquote>
</div>

<div class="container">
  <a href="#" data-toggle="popover" title="Historia de Google" data-trigger="focus"
     data-content="Larry Page y Sergey Brin comenzaron Google como un proyecto universitario en enero de 1996 cuando ambos eran estudiantes de posgrado en ciencias de la computación en la Universidad de Stanford.">Google</a>
  <a href="#" data-toggle="popover" title="Historia de Yahoo" data-trigger="focus"
     data-content="Yahoo! inicialmente recibió el nombre de 'ulices b' (La guía de Jerry para la World Wide Web), Su nombre proviene de unos personajes del libro Los viajes de Gulliver">Yahoo</a>
  <a href="#" data-toggle="popover" title="Historia de Bing" data-trigger="focus"
     data-content="Bing (anteriormente Live Search, Windows Live Search y MSN Search) es un buscador web de Microsoft. Presentado por el antiguo director ejecutivo de Microsoft, Steve Ballmer, el 28 de mayo de 2009">Bing</a>
</div>  