<div class="container-fluid">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./assets/star-wars2.png" alt="">
        <div class="carousel-caption">
          <code><h3>Star Wars</h3>
          <h3 class="mt-0">Characters</h3>
          <p>star war es una franquicia compuesta primordialmente de una serie de peliculas concebidas por el cinasta estado
            unidence Jorge Lucas.</p></code>
            <button type="button" class="btn btn-outline-success" >Saber mas</button>
        </div>
    </div>
  </div>
  <app-login></app-login>
  <app-starwars></app-starwars>
  <app-contenido></app-contenido>
</div>