<div class="media">
  <img src="./assets/bci.png" class="mr-3" alt="...">
  <div class="media-body">
    <img src="./assets/star-wars.png" class="img-fluid" alt="Responsive image">
    <h5 class="mt-0">Star wars</h5>
    star war es una franquicia compuesta primordialmente de una serie de peliculas concebidas por el cinasta estado unidence Jorge Lucas
    <button type="button" class="btn btn-success">Saber mas</button>
  </div>
  
</div>

<img src="./assets/luke.jpg" class="rounded float-left" alt="...">
<img src="./assets/darth-vader.jpg" class="rounded float-right" alt="...">
<app-starwars></app-starwars>